@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto:wght@400;500&display=swap');

::-webkit-scrollbar {
    display: none;
}

button{
    display: inline-block;
    background: #60a0ca;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 25px;
    margin-top: 10px;
    border: 2px solid #0c140c;
    border-radius: 5px;
    transition: 0.3s ease;
}

button:hover{
    color: #fff;
    background: none;
}
